
<div class="container col-centered">
<h1>Eat Burgers</h2>

<!--Pass in data from server.js --> 
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
  <li>
    {{this.burger_name}}

  <form action="/{{this.id}}?_method=PUT" method="POST">
    <input type="hidden" name="devoured" value="true">
    <button class="btn btn-primary btn-sm" type="submit">DEVOUR</button>
  </form>
</li>
{{/unless}}
{{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
  {{#if this.devoured}}
    <li>
      {{this.burger_name}}

      <form action="/{{this.id}}?_method=PUT" method="POST">
        <input type="hidden" name="devoured" value="false">
        <button  class="button" type="submit">THROW UP</button>
      </form>
    </li>
  {{/if}}
{{/each}}
</ul>


<h2>Add A Burger</h2>
<form class="creat-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="devo">Status: </label>
    <input type="radio" name="devoured" value="0" checked>Not Devoured</div>
  </div>


<div class="form-group">
  <label for="burgs">Order:</label>
  <input type="text" id="burgs" name="burger_name">
  <button class="button" type="submit">Place Order</button>
</div>

</form>

</div>
